node_modules
.github
.husky
.gitignore
biome.jsonc
components.json
tsconfig.tsbuildinfo
*.test.*
*.spec.*
vitest.config.ts
setup-tests.ts
coverage
.ladle
tailwind.config.ts
postcss.config.cjs
stories
tsconfig.json
